<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename ='css/menu.css') }}">
  <title>Product Landing Page</title>
</head>
<body>
 <nav>
   <div class="logo">Brand</div>
   <!-- toggle menu button -->
   <span class="menubtn" onclick="openNav()">&#9776;</span>
 
   <div class="navLinks">
     <ul>
       <li><a href="/login">Login</a></li>
       <li><a href="/signup">SignUp</a></li>
      
     </ul>
   </div>
 </nav>
   <!-- responsive side navbar -->
   <div class="sideNav" id="sidenav">
     <a href="#" class="closeBtn" onclick="closeNav()"> &#10006;</a>
     <a href="/login">Login</a>
     <a href="/signup">SignUp</a>
    
   </div>
   
   <!-- Header content with banner image -->
   <div class="row">
     <div class="column1">
       <h1>Raid A Car</h1>
       <p>Join us to rent a car and have some fun :)</p>
       
     </div>
     <div class="column2">
       <img src="https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg" alt="banner" width="500px">
     </div>
   </div>
   
   <!-- javascript to make side menu appear -->
 <script>
   function openNav() {
     document.getElementById("sidenav").style.width = "50%";
   }
   function closeNav() {
     document.getElementById("sidenav").style.width = "0%";
   }
 </script>
 
</body>
</html>